.app {
  background-color: blanchedalmond;
  border-radius: 5%;
  min-height: 80vh;
  width: 60%;
  margin: 20px auto;
}

body {
  background-color: rgb(251, 14, 156);
}
.crossed {
  text-decoration: line-through 2px rgb(251, 14, 156);
  background-color: #f0f0f0;
}
ul,li {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  font-size: 25px;
}

.container {
  display: flex;
  justify-content: center;

}
.add {

  border-radius: 30%;
  border: none;
  padding: 10px;
  margin: 10px;
  background-color: rgb(181, 225, 252);
  font-family: 'Source Serif Pro', serif;
  font-size: 25px;
  width: 100%;
}
.delete {

  border-radius: 30%;
  border: none;
  padding: 10px;
  margin: 10px;
  background-color: rgb(251, 14, 156);
  font-family: 'Source Serif Pro', serif;
  font-size: 25px;
  width: 100%;
}
input {
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
}
img {
  margin: 20px;
  border-radius: 30%;
}

h1 {
  font-family: 'Source Serif Pro', serif;
}
